<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="server=.;database=SimpleSecurityReboot;trusted_connection=yes;" providerName="System.Data.SqlClient" />
		<add name="DefaultConnectionMDF" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|App_Data\Database1.sdf;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" />
		</authentication>
		<roleManager enabled="true" defaultProvider="SimpleRoleProvider">
			<providers>
				<clear/>
				<add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebSecurityFork"/>
			</providers>
		</roleManager>
		<membership defaultProvider="SimpleMembershipProvider">
			<providers>
				<clear/>
				<add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebSecurityFork" />
			</providers>
		</membership>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>
</configuration>